/* А Б В Г Д Е Ё Ж З И Й К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Ь Э И Я */
/* A B C D E F G H I J K L M N O P Q R S T U V W X Y Z */
/* 1 2 3 4 5 6 7 8 9 0 */

/* ОСНОВНЫЕ СТИЛИ
================================================== */
	*, *:after, *:before {box-sizing:border-box; outline:none;}
	*, a, body, div, form, frame, h1, h2, h3, h4, h5, h6, html, iframe, img, input, label, legend, li, ol, p, select, span, table, textarea, tbody, td, tfoot, th, thead, tr, ul {box-sizing:border-box; font-weight:normal; margin:0; max-height:999999px; padding:0; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
	body {clear:both; float:left; font-family:Roboto !important; font-size:16px; line-height:26px; margin:0; overflow:auto !important; padding:0; position:relative; width:100%;}
	.wrapper {clear:both; float:none; height:100%; margin:0 auto; max-width:1150px; padding:0 30px; position:relative; width:100%;}
	.block100 {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}

/* ОБЩИЕ СТИЛИ
================================================== */
	/* ССЫЛКИ
	============================================== */
		/* ОБЩИЕ ПРАВИЛА ДЛЯ ССЫЛОК */
			a,
			a:visited,
			#footer .foot_center .links ul li a,
			#footer .foot_center .links ul li a:visited,
			#footer .foot_right .support p a,
			#footer .foot_right .support p a:visited
			{outline:none; text-decoration:underline;}

			a:hover,
			#footer .foot_center .links ul li a:hover,
			#footer .foot_right .support p a:hover
			{border:0; text-decoration:none;}
			
		/* ЗЕЛЕНЫЕ ССЫЛКИ */
			#footer .foot_center .links ul li a,
			#footer .foot_center .links ul li a:visited,
			#footer .foot_right .support p a,
			#footer .foot_right .support p a:visited
			{color:#96C11F;}
			
			#footer .foot_center .links ul li a:hover,
			#footer .foot_right .support p a:hover
			{color:#FFFFFF;}

/* КНОПКИ
============================================== */
	/* ОБЩИЕ ПРАВИЛА ДЛЯ КНОПОК */
		.button,
		.button:visited,	
		.button:hover
		{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border:0; cursor:pointer; display:inline-block; font-family:Roboto !important; font-weight: 500; font-size:18px; font-weight:normal !important; line-height:18px; outline:none; position:relative; text-align:center; text-decoration:none !important;}
		
		.button:active
		{bottom:-1px;}
		
	/* ОРАНЖЕВЫЕ КНОПКИ */
		.orange_button,
		.orange_button:visited
		{
			background: rgb(243,145,0);
			background: -moz-linear-gradient(top,  rgba(243,145,0,1) 0%, rgba(235,93,11,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(243,145,0,1) 0%,rgba(235,93,11,1) 100%);
			background: linear-gradient(to bottom,  rgba(243,145,0,1) 0%,rgba(235,93,11,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39100', endColorstr='#eb5d0b',GradientType=0 );
			color:rgba(255,255,255,1);
			font-weight: 700;
		}

		.orange_button:hover,
		.orange_border_button:hover
		{
			background: rgb(255,169,41);
			background: -moz-linear-gradient(top,  rgba(255,169,41,1) 0%, rgba(255,93,0,1) 100%);
			background: -webkit-linear-gradient(top,  rgba(255,169,41,1) 0%,rgba(255,93,0,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,169,41,1) 0%,rgba(255,93,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa929', endColorstr='#ff5d00',GradientType=0 );
			color:rgba(255,255,255,1) !important;
			box-shadow:none !important;
		}
		
	/* ОРАНЖЕВЫЕ КНОПКИ */
		.orange_border_button,
		.orange_border_button:visited
		{
			-webkit-box-shadow:inset 0px 0px 0px 2px #F18403;
			-moz-box-shadow:inset 0px 0px 0px 2px #F18403;
			box-shadow:inset 0px 0px 0px 2px #F18403;
			color:#F18403;
		}

/* БЛОКИ
============================================== */
	/* БЕЛЫЕ БЛОКИ */
		#slider .calculator,
		#steps,
		#reviews .testimonials1 .slick-list .slick-track .item,
		#reviews .testimonials2 .slick-list .slick-track .item,
		#text,
		#text .container,
		.desktop_fixed_menu
		{background-color:rgba(255,255,255,1);}
		
	/* СЕРЫЕ БЛОКИ */
		html,
		body,
		#text .block
		{background-color:rgba(246,246,246,1);}
		
	/* ЗЕЛЕНЫЕ БЛОКИ */
		#conditions .first_table table tr td.second,
		#conditions .second_table table.green tr td
		{background-color:#96C11F;}
		
	/* ТЕМНО-СИНИЕ БЛОКИ */
		#footer
		{background-color:#243235;}

/* ТЕНИ
============================================== */	
	#slider .calculator,
	#conditions .second_table table.green,
	.scrollup_button
	{box-shadow: 2px 2px 20px rgba(0,0,0,0.2);}
	
	#reviews .testimonials1 .slick-list .slick-track .item,
	#reviews .testimonials2 .slick-list .slick-track .item,
	.desktop_fixed_menu
	{box-shadow: 2px 2px 20px rgba(0,0,0,0.1);}
	
/* ТЕКСТ
============================================== */
	/* ЧЕРНЫЙ ТЕКСТ */
		body
		{color:rgba(0,0,0,1);}
		
	/* СЕРЫЙ ТЕКСТ */
		#conditions h2.block-title,
		#conditions .second_table table.gray tr td,
		#steps h2.block-title,
		#steps ul li .description,
		#reviews h2.block-title,
		#reviews .testimonials1 .slick-list .slick-track .item .header,
		#reviews .testimonials2 .slick-list .slick-track .item .header,
		#text .container .first_column h2.block-title,
		#text .container .first_column p,
		#text .container .second_column .block
		{color:rgba(41,41,41,1);}
		
	/* СЕРЫЙ ТЕКСТ */
		#conditions .first_table table tr td.first,
		#reviews .testimonials1 .slick-list .slick-track .item .date,
		#reviews .testimonials2 .slick-list .slick-track .item .date 
		{color:#AAAAAA;}
		
	/* СЕРЫЙ ТЕКСТ */
		#reviews .testimonials1 .slick-list .slick-track .item .description,
		#reviews .testimonials2 .slick-list .slick-track .item .description,
		#footer .copyright,
		#footer .copyright a,
		#footer .foot_right .support p
		{color:#848484;}
		
	/* БЕЛЫЙ ТЕКСТ */
		#conditions .first_table table tr td.second,
		#conditions .second_table table.green tr td,
		#footer .social h3,
		#footer .foot_center .links h3,
		#footer .foot_right .support h3
		{color:#FFFFFF;}
		
	/* ЗЕЛЕНЫЙ ТЕКСТ */
		#steps ul li h3.block-title,
		#reviews .testimonials1 .slick-list .slick-track .item .name,
		#reviews .testimonials2 .slick-list .slick-track .item .name
		{color:#96C11F;}

/* BORDER
============================================== */												

/* ФОРМЫ
============================================== */
		input
		{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
			
/* ТАБЛИЦЫ
============================================== */

/* СПИСКИ
============================================== */
	/* ОТМЕНЯЕМ СТИЛИ ДЛЯ СПИСКОВ */
		#steps ul li.item,
		#footer .foot_center .links ul li,
		#footer .foot_left .social ul li,
		#footer .foot_center .links ul li
		{list-style-image:none; list-style-position:outside; list-style-type:none;}
	
/* КАРТИНКИ
============================================== */
	/* ОБЩИЕ ПРАВИЛА ДЛЯ КАРТИНОК */
		img,
		#slider .logo a img,
		#steps ul li img,
		#reviews .testimonials1 .slick-list .slick-track .item .rating img,
		#reviews .testimonials2 .slick-list .slick-track .item .rating img,
		#footer .foot_left .logo a img,
		#footer .foot_left .social ul li img,
		#footer .foot_right .logos img,
		.preloader img,
		.desktop_fixed_menu .left_column .logo a img
		{border:0; font-size:0; max-width:100%; outline:none;}

/* HTML ТЭГИ
============================================== */
	/* ОБЩИЕ ПРАВИЛА ДЛЯ HTML ТЭГОВ */
		p
		{}

		b,
		strong,
		b a,
		strong a
		{font-weight:bold;}

		i,
		em
		{font-style:italic;}

		del
		{text-decoration:line-through;}

		hr
		{}

		u,
		ins
		{text-decoration:underline;}

		code
		{}

		blockquote
		{}

		ul,
		ol
		{}

		ul li,
		ol li
		{list-style-image:none; list-style-position:outside;}

		ul li:last-child,
		ol li:last-child
		{}

		ul li
		{list-style-type:disc;}

		ol li
		{list-style-type:decimal;}

/* ШАПКА
================================================== */


/* СЛАЙДЕР С КАЛЬКУЛЯТОРОМ
================================================== */
	#slider {background:transparent url('../img/slider-background.png') no-repeat center; clear:both; display:block; float:left; height:650px; margin:0; padding:0; position:relative; width:100%;}
	#slider .logo {clear:both; float:left; margin:0; padding:20px 0; position:relative; width:100%;}
	#slider .logo a {clear:both; float:left; margin:0; padding:0; position:relative; text-decoration:none !important;}
	#slider .logo a img {clear:both; float:left; margin:0; padding:0; position:relative;}
	#slider .calculator {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:both; float:right; margin:0 0 70px 0; padding:0; position:relative; width:40%;}

/* УСЛОВИЯ
================================================== */
	#conditions {clear:both; float:left; margin:0; padding:110px 0 150px 0; position:relative; width:100%;}
	#conditions h2.block-title {clear:both; float:left; font-family:Roboto !important; font-weight: 700; font-size:36px; line-height:46px; margin:0 0 50px 0; padding:0; position:relative; text-align:center; width:100%;}
	#conditions .first_table {clear:both; margin:0; padding:0; position:relative; width:66%; margin-left: auto; margin-right: auto}
	#conditions .first_table table {border:0; border-collapse:collapse; width:100%; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; overflow: hidden;}
	#conditions .first_table table tr td {border-color:#e7e7e7; border-style:solid; border-top-width:1px; border-right-width:0; border-bottom-width:1px; border-left-width:0; padding:20px 30px;}
	#conditions .first_table table tr:first-child td {border-top-width:0;}
	#conditions .first_table table tr:last-child td {border-bottom-width:0;}
	#conditions .first_table table tr td.first {font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; text-align:center; width:33%;}
	#conditions .first_table table tr td.second {font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; text-align:center; width:33%;}
	#conditions .first_table table tr td.header {font-family:Roboto !important; font-weight: 500; font-size:24px !important; line-height:34px !important; padding:25px 30px;}
	#conditions .first_table table tr td.footer {padding:25px 30px;}
	#conditions .first_table table tr td .button {padding:18px 25px; width:100%;}
	
	#conditions .second_table {clear:both; display:none; float:left; margin:0; padding:0; position:relative; width:100%;}
	#conditions .second_table table {border:0; border-collapse:collapse; width:100%; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; overflow: hidden;}
	#conditions .second_table table tr td {border-color:#e7e7e7; border-style:solid; border-top-width:1px; border-right-width:0; border-bottom-width:1px; border-left-width:0; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; padding:20px 30px; text-align:center;}
	#conditions .second_table table tr:first-child td {border-top-width:0;}
	#conditions .second_table table tr:last-child td {border-bottom-width:0;}
	#conditions .second_table table tr td.header {font-family:Roboto !important; font-weight: 500; font-size:24px !important; line-height:34px !important; padding:25px 30px;}
	#conditions .second_table table tr td.footer {padding:20px 30px 30px 30px;}
	#conditions .second_table table.gray tr td.footer {padding:20px 30px 40px 30px;}
	#conditions .second_table table tr td .button {padding:18px 25px; width:100%;}
	#conditions .second_table table tr td .second_table__label {display:inline-block; font-size:12px; line-height:14px;}

/* ШАГИ
================================================== */
	#steps:before {background:url('../img/d23cf23.png') no-repeat top center; content:""; display:inline-block; height:66px; left:0; position:absolute; top:-66px; width:100%;}
	#steps:after {background:url('../img/d23cf254.png') no-repeat top center; content:""; display:inline-block; height:66px; left:0; position:absolute; bottom:-66px; width:100%;}
	#steps {clear:both; float:left; margin:0; padding:50px 0; position:relative; text-align:center; width:100%;}
	#steps h2.block-title {clear:both; float:left; font-family:Roboto !important; font-weight: 700; font-size:36px; line-height:46px; margin:0 0 50px 0; padding:0; position:relative; text-align:center; width:100%;}
	#steps ul {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#steps ul li.item {clear:none; display:inline-block; float:left; margin:0 5% 0 0; padding:0; position:relative; text-align:center; width:30%;}
	#steps ul li.item:last-child {margin:0;}
	#steps ul li img {margin:0 0 40px 0; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	#steps ul li img:hover {margin:0 0 40px 0; -moz-transform: rotate(-5deg); -o-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); transform: rotate(-5deg);}	
	#steps ul li h3.block-title {clear:both; float:left; font-family:Roboto !important;font-weight: 500; font-size:24px; line-height:34px; margin:0 0 15px 0; padding:0; position:relative; text-align:center; width:100%;}
	#steps ul li .description {clear:both; float:left; font-family:Roboto !important; font-size:16px; line-height:26px; margin:0; padding:0; position:relative; text-align:center; width:100%;}
	#steps .button {margin:50px 0 0 0; padding:18px 25px; width:290px;}

/* ОТЗЫВЫ
================================================== */
	#reviews {clear:both; float:left; margin:0; padding:150px 0; position:relative; text-align:center; width:100%;}
	#reviews h2.block-title {clear:both; float:left; font-family:Roboto !important; font-weight: 700; font-size:36px; line-height:46px; margin:0 0 50px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials1 {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#reviews .testimonials1 .slick-arrow {clear:none; cursor:pointer; display:inline-block !important; float:left; font-family:Roboto !important; font-weight: 700; font-size:36px; line-height:36px; margin:0; padding:0; position:relative; text-align:center; text-decoration:none; top:190px; width:5%; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}	
	#reviews .testimonials1 .slick-arrow:hover {-webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);}
	#reviews .testimonials1 .slick-list {clear:none; display:inline-block; float:left; margin:0; padding:0 !important; position:relative; width:90%;}
	#reviews .testimonials1 .slick-list .slick-track {clear:both; float:left; margin:0; padding:0; position:relative;}
	#reviews .testimonials1 .slick-list .slick-track .item {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:none; display:inline-block; float:left; margin:40px 20px; padding:30px; position:relative; text-align:center; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	#reviews .testimonials1 .slick-list .slick-track .slick-center {transform: scale(1.1); z-index:99;}
	#reviews .testimonials1 .slick-list .slick-track .item .rating {clear:both; float:left; margin:0 0 10px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials1 .slick-list .slick-track .item .rating img {clear:none; display:inline-block; float:none; margin:0; padding:0; position:relative; text-align:center;}
	#reviews .testimonials1 .slick-list .slick-track .item .header {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:18px; line-height:28px; margin:0 0 20px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials1 .slick-list .slick-track .item .description {clear:both; float:left; font-family:Roboto !important; font-size:14px; height:200px; line-height:24px; margin:0 0 20px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials1 .slick-list .slick-track .item .name {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:16px; margin:0 0 10px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials1 .slick-list .slick-track .item .date {clear:both; float:left; font-family:Roboto !important; font-size:14px; line-height:14px; margin:0; padding:0; position:relative; text-align:center; width:100%;}
	
	#reviews .testimonials2 {clear:both; display:none; float:left; margin:0; padding:0; position:relative; width:100%;}
	#reviews .testimonials2 .slick-arrow {clear:none; cursor:pointer; display:inline-block !important; float:none; font-family:Roboto !important; font-weight: 700; font-size:36px; height:60px; line-height:36px; margin:30px 0 0 0; padding:0; position:relative; text-align:center; text-decoration:none; top:0; width:60px; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}	
	#reviews .testimonials2 .slick-arrow:hover {-webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2);}
	#reviews .testimonials2 .slick-list {clear:none; display:inline-block; float:left; margin:0; padding:0 !important; position:relative; width:100%;}
	#reviews .testimonials2 .slick-list .slick-track {clear:both; float:left; margin:0; padding:0; position:relative;}
	#reviews .testimonials2 .slick-list .slick-track .item {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; clear:none; display:inline-block; float:left; margin:30px 20px; padding:30px; position:relative; text-align:center; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; transition:all 0.3s ease;}
	#reviews .testimonials2 .slick-list .slick-track .slick-center {transform:none; z-index:99;}
	#reviews .testimonials2 .slick-list .slick-track .item .rating {clear:both; float:left; margin:0 0 10px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials2 .slick-list .slick-track .item .rating img {clear:none; display:inline-block; float:none; margin:0; padding:0; position:relative; text-align:center;}
	#reviews .testimonials2 .slick-list .slick-track .item .header {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:18px; line-height:28px; margin:0 0 20px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials2 .slick-list .slick-track .item .description {clear:both; float:left; font-family:Roboto !important; font-size:14px; height:220px; line-height:24px; margin:0 0 20px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials2 .slick-list .slick-track .item .name {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:16px; margin:0 0 10px 0; padding:0; position:relative; text-align:center; width:100%;}
	#reviews .testimonials2 .slick-list .slick-track .item .date {clear:both; float:left; font-family:Roboto !important; font-size:14px; line-height:14px; margin:0; padding:0; position:relative; text-align:center; width:100%;}

	#reviews .slick-list {position: relative;}
	#reviews .slick-list::before,
	#reviews .slick-list::after {content: ''; height: 100%; position: absolute; top: 0; bottom: 0; width: 40px; z-index: 100;}
	#reviews .slick-list::before {left: 0; background: linear-gradient(90deg, #f6f6f6, transparent);}
	#reviews .slick-list::after {right: 0; background: linear-gradient(-90deg, #f6f6f6, transparent);}
	
/* ТЕКСТОВЫЙ БЛОК
================================================== */
	#text:before {background:url('../img/d23cf23.png') no-repeat top center; content:""; display:inline-block; height:66px; left:0; position:absolute; top:-66px; width:100%;}
	#text {clear:both; margin:0; padding:80px 0 100px 0; position:relative; width:100%;}
	#text .wrapper {text-align:center;}
	#text .layout {text-align: left;border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; padding:30px; box-shadow: 2px 2px 20px rgba(0,0,0,0.1)}
	#text .container {margin-left:-25px; margin-right: -25px; margin-bottom: 50px; position:relative; text-align:center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
	#text .container .first_column {position:relative; padding-left: 25px; padding-right: 25px; width:50%;display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
	#text .container .first_column .layout {-webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
	#text h2.block-title {font-family:Roboto !important; font-weight: 500; font-size:24px; line-height:23px; margin:0 0 40px 0; position:relative; text-align:center; width:100%; color: #292929;}
	#text .container .first_column p {font-family:Roboto !important; font-size:16px; line-height:26px; margin:0; padding:0; position:relative; text-align:left; width:100%;}
	#text .container .second_column {margin:0; position:relative; padding-left: 25px; padding-right: 25px; width:50%;}
	#text .block {border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; font-family:Roboto !important; font-size:16px; line-height:26px; padding:30px; position:relative; text-align:left; width:100%;}
	#text .block h2.block-title {text-align: left;}
	/* #text .container .second_column .block ul {margin:0 0 0 18px; padding:0; position:relative; width:100%;}
	#text .container .second_column .block ul li {margin:0; padding:0; position:relative; width:100%;}
	#text .container .second_column .block ul li::marker {list-style-image:none; list-style-position:outside; list-style-type:disc;} */
	#text .second_column .note {font-size: 13px; line-height: 23px; color: #9b9b9b; margin-top: 20px;}
	#text ul {list-style: none; padding-left: 20px; margin: 0;}
	#text ul li {margin-bottom: 20px; list-style-type: none;}
	#text ul li::before {content: ' '; border-radius: 50%; height: 10px; width: 10px; background-color: #96C11F; font-size: 15px; display: inline-block; margin-left: -20px; margin-right: 10px;}
	#text ul li:last-child {margin-bottom: 0;}
	#text .button {margin:40px 0 0 0; padding:18px 25px; width:290px;}
	
/* ПОДВАЛ
================================================== */
	#footer {clear:both; float:left; margin:0; padding:50px 0; position:relative; width:100%;}
	#footer .foot_left {clear:none; display:inline-block; float:left; margin:0; padding:0; position:relative; text-align:left; width:25%;}
	#footer .foot_left .logo {clear:both; float:left; margin:0 0 30px 0; padding:0; position:relative;}
	#footer .foot_left .logo a {clear:both; float:left; margin:0; padding:0; position:relative; text-decoration:none !important;}
	#footer .foot_left .logo a img {clear:both; float:left; margin:0; padding:0; position:relative;}
	#footer .copyright {clear:both; float:left; font-family:Roboto !important; font-size:12px; line-height:18px; margin:0 0 30px 0; padding:0; position:relative; width:100%;}
	#footer .copyright p {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#footer .social {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#footer .social h3 {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; margin:0 0 10px 0; padding:0; position:relative; text-align:left; width:100%;}
	#footer .social ul {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#footer .social ul li {clear:none; display:inline-block; float:left; margin:0 10px 0 0; padding:0; position:relative;}
	#footer .social ul li:last-child {margin:0;}
	#footer .social ul li img {clear:both; float:left; margin:0; padding:0; position:relative; width:100%; -moz-transition:all 0.2s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.2s ease; transition:all 0.2s ease;}
	#footer .social ul li img:hover {clear:both; float:left; margin:0; padding:0; position:relative; width:100%; -moz-transform: rotate(-20deg); -o-transform: rotate(-20deg); -ms-transform: rotate(-20deg); -webkit-transform: rotate(-20deg); transform: rotate(-20deg);}	
	#footer .foot_center {clear:none; display:inline-block; float:left; padding:0; position:relative; text-align:justify; width:45%;}
	#footer .foot_center .links {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#footer .foot_center .links h3 {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; margin:0 0 10px 0; padding:0; position:relative; text-align:left; width:100%;}
	#footer .foot_center .links ul {clear:both; float:left; margin:0; padding:0; position:relative; width:100%;}
	#footer .foot_center .links ul li {clear:both; float:left; font-family:Roboto !important; font-size:16px; line-height:26px; margin:0 0 5px 0; padding:0; text-align:left; position:relative;}
	#footer .foot_right {clear:none; display:inline-block; float:left; margin:0; padding:0; position:relative; text-align:right; width:30%;}
	#footer .foot_right .support {clear:both; float:left; padding:0; position:relative; width:100%;}
	#footer .foot_right .support h3 {clear:both; float:left; font-family:Roboto !important; font-weight: 500; font-size:16px; line-height:26px; margin:0 0 10px 0; padding:0; position:relative; text-align:right; width:100%;}
	#footer .foot_right .support p {clear:both; float:left; font-family:Roboto !important; font-size:16px; line-height:26px; margin:0; padding:0; position:relative; text-align:right; width:100%;}
	#footer .foot_right .logos {clear:both; float:left; margin:0; padding:0; position:relative; text-align:right; width:100%;}
	#footer .foot_right .logos img {clear:none; display:inline-block; float:none; margin:0 10px 10px 0; padding:0; position:relative;}

	#footer .buru {clear: both; float: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
	#footer .buru__img {width: 40px; height: 40px; margin-right: 20px;}
	#footer .buru__text {-webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
	#footer .footer--desktop {display: block;}
	#footer .footer--mobile {display: none;}

/* ПРОЧЕЕ
================================================== */
	/* КНОПКА НАВЕРХ */
		.scrollup_button {border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; bottom:50px; clear:none; cursor:pointer; float:none; height:50px; margin:0; outline:none; padding:14px 0 0 0; position:fixed; left:3%; text-align:center; text-decoration:none !important; width:50px; z-index:98;}
		.scrollup_button img {height:15px; width:15px;}
		
	/* ПРЕЛОАДЕР НА ВЕСЬ ЭКРАН */
		.preloader {background:rgba(255,255,255,0.9); bottom:0; height:100%; left:0; position:fixed; right:0; top:0; width:100%; z-index:999;}
		.preloader img.rot {border:0; height:50px; left:50%; margin:-25px 0 0 -25px; position:absolute; top:50%; width:50px; animation:0.5s linear 0s normal none infinite running rot; -webkit-animation:0.5s linear 0s normal none infinite running rot;}
		@keyframes rot {
			0% {transform: rotate(0deg);}
			100% {transform: rotate(360deg);}
		}
		@-webkit-keyframes rot {
			0% {transform: rotate(0deg);}
			100% {transform: rotate(360deg);}
		}

	/* ФИКСИРОВАННОЕ МЕНЮ В ШАПКЕ */
		.desktop_fixed_menu {clear:both; display:none; float:left; margin:0; padding:15px 0; position:fixed; top:0; width:100%; z-index:999;}
		.desktop_fixed_menu .left_column {clear:none; float:left; display:inline-block; margin:0; padding:0; position:relative; text-align:left; width:40%;}
		.desktop_fixed_menu .left_column .logo {clear:both; float:left; margin:3px 0 0 0; padding:0; position:relative;}
		.desktop_fixed_menu .left_column .logo a {clear:both; float:left; margin:0; padding:0; position:relative; text-decoration:none !important;}
		.desktop_fixed_menu .left_column .logo a img {clear:both; float:left; margin:0; padding:0; position:relative;}
	
		.desktop_fixed_menu .right_column {clear:none; float:left; display:inline-block; margin:0; padding:0; position:relative; text-align:right; width:60%;}
		.desktop_fixed_menu .right_column .button {padding:18px 25px; width:220px;}